body 
{
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
#container
{
    text-align: center;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
#rectangle
{
    width: 960px;
    margin: 20px;
    text-align: center;
}
.square
{
    width: 50%;
    float: left;
}
#logo
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 600px;
    text-align: left;
}
#zegar
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    text-align: left;
}
.tile1
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.tile1:hover
{
    background-color: #2084c2;
}
.tile2
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}
.tile2:hover
{
    background-color: #555555;
}
.tile3
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.tile3:hover
{
    background-color: #82b637;
}
.tile4
{
    margin: 10px;
    width: 410px;
    height: 70px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 26px ;
    padding: 36px;
    line-height: 150% ;
    
}
.tile5
{
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding: 30px;
    
}
.yt
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #D94349;
    float: left;
    text-align: center;
}
.yt:hover
{
    background-color: #C83238;
}
.fb
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
    text-align: center;
}
.fb:hover
{
    background-color: #3557a2;
}
.gplus
{
    margin-left: 10px;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #D95333;
    float: left;
    text-align: center;
}
.gplus:hover
{
    background-color: #C84222;
}
.tw
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.tw:hover
{
    background-color: #2084c2;
}
a.tilelink
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}
a.sociallink
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 105px;
    height: 142px;
}

a.tilelinkhtml5
{
    color: #ffffff;
    text-decoration: none;
}